.aside {
    padding: 223px 0 0 13px;
    flex-basis: 845px;
    &_purple {
        background: $asideColor;
        flex-basis: 480px;
    }
    &_orange {
        background: $asideColor2;
    }
    &_blue {
        background: $asideColor3;
    }
    &__content {
        height: 100%;
        position: relative;
        background-color: $bgColor;
        text-transform: uppercase;
        font-family: inherit;
        font-weight: 700;
        letter-spacing: 0.24px;
        padding: 100px 60px;
    }
    &__header {
        font-size: 31px;
        font-weight: 700;
        text-transform: uppercase;
        &_purple {
            color: $asideColor;
        }
        &_orange {
            color: $asideColor2;
        }
        &_blue {
            color: $asideColor3;
        }
    }
    &__text {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 13px;
    }
    &__start-block {
        margin-top: 158px;
    }
    &__start-header {
        color: $navTextColor;
        font-size: 34px;
        padding-bottom: 27px;
    }
    &__btn {
        display: block;
        width: 100%;
        max-width: 285px;
        height: 80px;
        border: 0;
        border-radius: 20px; 
        color: $bgColor;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.36px;
        @include center;
        padding: 23px 10px;
        outline: none;
        cursor: pointer;
        transition: opacity ease .5s;
        &_hover {
            &:hover {
                opacity: .8;
            }
        }
        &_purple {
            background-color: $asideColor;
            font-size: 38px;
            max-width: 275px;
        }
        &_orange {
            background-color: $asideColor2;
        }
        &_blue {
            background-color: $bgColor;
            border: 1px solid $asideColor3;
            color: #aaa9a9;
            &:hover {
                background-color: $asideColor3;
                color: $bgColor;
                opacity: 1;
            }
        }
        &_short-man, 
        &_short-woman {
            width: 50%;
            color: #3b3b3b;
            font-size: 24px;
            text-transform: none;
            margin-right: 15px;
            padding-left: 45px;
            border: 1px solid #d3d3d3;
          
        }
        &_short-man.aside__btn_active,
        &_short-man:hover {
            color: $bgColor;
            background: $asideColor3 url(../images/ma.png) no-repeat 20px 50%;
        }
        &_short-woman.aside__btn_active,
        &_short-woman:hover {
            color: $bgColor;
            background: $asideColor3 url(../images/ma.png) no-repeat 20px 50%;
        } 
    }
    &__icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 9px solid;
        position: absolute;
        top: 80px;
        left: -45px;
        z-index: 500;
        &_purple {
            border-color: $asideColor;
            background: $bgColor url(../images/hart.png) no-repeat center;
        }
        &_orange {
            border-color: $asideColor2;
            background: $bgColor url(../images/hart2.png) no-repeat center;
        }
        &_blue {
            border-color: $asideColor3;
            background: $bgColor url(../images/hart3.png) no-repeat center;
        }
    }
    &__variats-block {
        margin-top: 40px;
    }
    &__variant {
        @include center;
        width: 384px;
        height: 80px;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        background-color: $bgColor;
        color: $navTextColor;
        font-size: 26px;
        letter-spacing: 0.15px;
        margin-bottom: 17px;
        transition: opacity ease .5s;
        &_active {
            background: $asideColor2;
            color: $bgColor;
        }
        &_hover {
            &:hover {
                background: $asideColor2;
                color: $bgColor;
                opacity: .8;
            }
        }
    }
    &__form-block {
        margin-top: 23px;
    }
    &__form {
        max-width: 455px;
        width: 100%;
    }
    &__input-box {
        display: flex;
    }
    &__form-label {
        display: block;
        margin: 13px 0 4px 0;
        text-transform: none;
        color: #3b3b3b;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.09px;
    }
    &__form-input {
        width: 100%;
        max-width: 456px;
        height: 80px;
        padding: 0 15px;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        background-color: $bgColor;
        outline: none;
        color: $navTextColor;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.09px;
        &_short {
            width: 50%;
            color: #3b3b3b;
            font-size: 24px;
            margin-right: 15px;
            padding-left: 55px;
        }
        &_man {
            background: url(../images/m.png) no-repeat 20px 50%;
        }
        &_woman {
            background: url(../images/w.png) no-repeat 20px 50%;
        }
        &_man.aside__form-input_active,
        &_man:hover {
            color: $bgColor;
            background: $asideColor3 url(../images/ma.png) no-repeat 20px 50%;
        }
        &_woman.aside__form-input_active,
        &_woman:hover {
            color: $bgColor;
            background: $asideColor3 url(../images/ma.png) no-repeat 20px 50%;
        }
    }
    &__form-chackbox {
        margin-top: 20px;
    }
    &__form-text {
        display: block;
        margin: -20px 0 14px 20px;
        color: rgba(0, 0, 0, .8);
        font-size: 13px;
        letter-spacing: 0.16px;
    }
}

@media (max-width: 767px) {
    .aside {
        padding: 80px 0 0 0;
        &__content {
            width: 100%;
            min-width: 480px;
            @include center;
            flex-direction: column;
        }
        &__icon {
            top: 15px;
            left: 45%;
        }
        &__header {
            font-size: 24px;
            text-align: center;
        }
        &__text,
        &__variant {
            font-size: 18px;
            width: 235px;
            text-align: center;
        }
        &__variant {
            width: 350px;
            height: 70px;
        }
        &__start-block {
            margin-top: 50px;
        }
        &__start-header {
            font-size: 26px;
            text-align: center;
        }
        &__btn {
            font-size: 28px;
            width: 400px;
            height: 80px;
            border-radius: 15px;
            &_orange,
            &_blue {
                font-size: 26px;
                max-width: 350px;
            }
        }
        &__form-label {
            font-size: 16px;
            font-weight: 600;
        }
        &__form-input {
            width: 350px;
            height: 60px;
            border-radius: 10px;
            font-size: 16px;
            &_short {
                width: 170px;
                padding-left: 40px;
                background-size: 18px 22px;
               
            }
            &_man.aside__form-input_active,
            &_woman.aside__form-input_active,
            &_man:hover,
            &_woman:hover {
                background-size: 18px 22px;
            }
        }
        &__form-text {
            max-width: 340px;
            font-size: 12px;
        }
       
    }
}


@media (max-width: 575px) { 
    .aside {
        background: $bgColor;
        border-top: 9px solid $asideColor;
        &_purple {
            border-color: $asideColor;
        }
        &_orange {
            border-color: $asideColor2;
        }
        &_blue {
            border-color: $asideColor3;
        }
        &__content {
           padding: 0;
           min-width: 230px; 
        }
        &__header {
            font-size: 18px;
            max-width: 320px;
            text-align: left;
           
        }
        &__text {
            width: 235px;
            font-size: 16px;
            text-align: left;
        }
        &__variant {
            font-size: 16px;
        }
        &__variant {
            width: 214px;
            height: 49px;
        }
        &__start-header {
            font-size: 22px;
            text-align: left;
        }
        &__btn {
            font-size: 23px;
            width: 236px;
            height: 47px;
            &_orange,
            &_blue {
                width: 172px;
                font-size: 16px;
                padding: 10px;
            }
        }
        &__icon {
            margin-top: -120px;
            margin-left: -150px;
            height: 40px;
            width: 40px;
            border-width: 4px;
            background-size: 18px 15px;
        }
        &__form-label {
            font-size: 11px;
            font-weight: 400;
        }
        &__form-input {
            width: 268px;
            height: 47px;
            font-size: 11px;
            &_short {
                width: 130px;
                height: 48px;
                font-size: 14px;
                margin-right: 8px;
            }
           
        }
        &__form-text {
            max-width: 230px;
            font-size: 8px;
        }
    }
}

